<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.revert.core.platform.generator.mapper.SysTableMapper">

	<resultMap id="BaseResultMap" type="com.revert.core.platform.generator.model.SysTable">
		<result column="table_name" jdbcType="VARCHAR" property="tableName" />
		<result column="table_rows" jdbcType="INTEGER" property="tableRow" />
		<result column="table_type" jdbcType="VARCHAR" property="tableType" />
		<result column="table_comment" jdbcType="VARCHAR" property="tableComment" />
	</resultMap>
	
	<sql id="Base_Column_List">
		TABLE_NAME, TABLE_ROWS, TABLE_TYPE, TABLE_COMMENT
	</sql>
	<sql id="Base_Where">
		<if test='tableName != null'>
			AND table_name like  CONCAT('%',#{tableName},'%' )
		</if>
		<if test='tableType != null'>
			AND table_type like  CONCAT('%',#{tableType},'%' )
		</if>
	</sql>

	<select id="selectByModel" parameterType="com.revert.core.platform.generator.model.SysTable" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" />
			from information_schema.tables
		where table_schema = (select database())
		<include refid="Base_Where"/>
		order by CREATE_TIME desc
	</select>
	
</mapper>